/* src/App.css*/

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0; 
}

.main-content-wrapper {
    padding-top: 65px; 
    max-width: 1280px; 
    margin: 0 auto;
    text-align: center;
    padding: 2rem; 
}